body {
    padding: 0 30px;
    display: block;
	margin: 8px;
    font-family: Georgia,"Times New Roman",Times,serif;
	background-color: #FFFAF0;
}
.v {
	color: #b36c38 !important;
}
.verse-span {
	color: #000000;
}
p {
    color: #000000;
    font-family:Georgia,"Times New Roman",Times,serif;
}
.s1, .s, .ms{
    color: #b36c38;
	font-size:1.1em;
	font-weight:300;
	margin-bottom:0.75em;
	margin-top:1.25em;
	font-style:bold;
	font-family:Georgia,"Times New Roman",Times,serif;
}

.copyright{
    text-indent: 0;
    color: #9cb9d3;
    font-family:Georgia,"Times New Roman",Times,serif;
}
