.esv-text{
    display:inline;
    font-family:Georgia,"Times New Roman",Times,serif;
}
body{
	background-color: #121212;
}
h2, p{
	color: #9cb9d3;
}
h3 {
    color: white;
}
h4.speaker {
	color: white;
}
.verse-num, .chapter-num, .psalm-title{
	color: white !important;
}
a {
    color: white;
}
span.line {
	color: #9cb9d3;
}
.esv-text h2{
	color:#9CB9D3;
	font-size:1.15em;
	font-weight:bold;
	margin-bottom:5px;
	font-style:italic;
}
.esv-text h3{
	color: #9CB9D3;
	font-size:1.1em;
	font-weight:300;
	margin-bottom:0.75em;
	margin-top:1.25em;
	font-style:italic;
}
.esv-text h3.psalm-book{
    color:#000;
    font-family:serif;
    font-style:normal;
    letter-spacing:0.2em;
    padding-left:4em;
    text-transform:uppercase;
}
.esv-text p{
    margin-bottom:0;
    font-size:108%;
    line-height:130%;
}
.esv-text h2#top{
	border:none;
	padding:0;
}

div#esv_text #reading, div#esv_text .devotion-date{
	color:#9CB9D3;
	font-size:1.15em;
	font-style:normal;
	font-weight:bold;
	margin-top:15px;
}

.esv-text h2.book-name{
    color:#9CB9D3;
    font-family:"Times New Roman", serif;
    font-size:2em;
    font-style:normal;
    font-variant:small-caps;
    font-weight:normal;
    padding:1em 0 0.7em 0;
    border-bottom:1px solid;
    margin-left: 0;
}

.esv-text span.indent{
    padding-left:2em;
    display:inline-block;
}

.esv-text p {
	text-indent: 1.5em;
	color:#9CB9D3;
	}

/* flow up (inherits display:inline), so paragraph doesn't break e.g. Matt. 4:5 */
.esv-text p.same-paragraph {
	text-indent: 0;
	}

.esv-text span.end-line-group{
    display:block;
    height:1em;
}

.esv-text span.begin-line-group{
    display:block;
    height:1em;
}
.esv-text h3 + span.begin-line-group{
    display:none;
}
.esv-text h4 + span.begin-line-group{
    display:none;
}
.esv-text span.end-line-group + span.begin-line-group{
    display:none;
}

/* poetry, first line.
    Padding is set for increased indent if the line wraps,
    text-indent offsets the padding at the beginning of the line.
    The 0 margins prevent extra space from having a paragraph on every line.
    e.g. Psalm 1 */
.esv-text p.line {
    margin: 0;
    text-indent: -3.5em;
	padding-left: 5.5em;
	clear:both;
    }

/* poetry, indented sectiond line. See p.line for explanation of indent and padding.
    e.g. Psalm 1 */
.esv-text p.indent {
    text-indent: -4em;
	padding-left: 7em;
	}
/* poetry, second degree of indent. e.g.  */
.esv-text p.indent-2,
.esv-text p.psalm-doxology {
    text-indent: -5em;
    padding-left: 9em;
    }

/* block indent for "declares the LORD" after quote block e.g. Jeremiah 1:8 */
.esv-text p.declares {
    text-indent: -2em;
	padding-left: 11em;
	}

/* small caps used for LORD e.g. Psalm 4:5 */
span.small-caps, span.divine-name {
	font-variant: small-caps;
	}

/* style for selah in poetry e.g. Psalm 4 */
.esv-text span.selah {
    text-align: right;
	font-style: italic;
	margin-right: 1em;
        margin-left: 1em;
	}

/* Jeremiah 50 */
.esv-text p.extra-space {
	margin-top: 1em;
	}

/* see following specifics */
.esv-text h4 {
	font-weight: normal;
	padding-left: 2.5em;
	}
/* denotation of speaker e.g. Song of Solomon 1:2 */
.esv-text h4.speaker {
    color: #ffffff important;
    font-variant: small-caps;
    margin-bottom: 0em;
    font-size:0.9em;
    padding-left:5em;
    width:10em;
    text-align:center;
	}
/* Note about the text/manuscripts e.g. john 7:53 */
.esv-text h4.textual-note {
	font-variant: small-caps;
	font-size:0.9em;
	margin-top:.4em;
	}

/* Titles of the acrostic in Psalm 119 */
.esv-text h4.psalm-acrostic-title {
	font-variant: small-caps;
	margin-bottom: 0em;
	font-size:0.9em;
	padding-left:5em;
	width:10em;
	text-align:center;
	}
/* small caps and margin for psalm titles e.g. Psalm 4 */
.esv-text h4.psalm-title {
    font-variant: small-caps;
    font-size:0.9em;
    line-height: 1.2em;
    margin-bottom:0.3em;
    position:relative;
    }

/* style for positioning of footnote number. e.g. John 1:4 */
.esv-text span.footnote {
	font-size: 0.7em;
	padding-right: 0.3em;
	padding-left: 0.1em;
	vertical-align: top;
	}

/* style for positioning of cross reference */
.esv-text a.cf {
	font-weight:bold;
	color:#6e92ac;
    cursor:pointer;
    font-size:0.7em;
    padding-right: 0.15em;
    padding-left: .1em;
    vertical-align:top;
    text-decoration:none;
    }
.esv-text a.cf:hover {
	color:#1d5a7e;
	text-decoration:none;
}
.esv-text a.fn{
    font-weight:bold;
    color:#6e92ac;
    font-family:serif;
	vertical-align:top;
	text-decoration:none;
}
.esv-text a.fn:hover{
    color:#1d5a7e;
	text-decoration:none;
	cursor:pointer;
}
/* style for footnotes header at bottom, only appears with infinite scroll off e.g. John 1 */
.esv-text .footnotes h3 {
	margin-top: 0;
	margin-bottom: 5px;
	}
/* individual footnotes */
.esv-text .footnotes p {
        font-size: 90%;
        line-height: 120%;
	text-indent: 0;
	}
/* bold reference to related verse */
.esv-text span.footnote-ref {
	font-weight: bold;
	}
/* style for text copyright statement (doesn't display on site, only on API output) */
.esv-text p.copyright {
	text-indent: 0;
	}
/* style for audio flash object */
.esv-text object.audio {
	margin: 0 0 0 10px;
	padding: 0;
	}

/* if a paragraph starts a chapter, or it's john 8 (which flows up text from 7:53), then don't indent it
    e.g. John 2, John 8
 */
.esv-text p.starts-chapter, .esv-text p.john8{
    text-indent:0;
}

/* style for next and previous chapters nav list when infinite scroll is off */
.esv-text ul {
    width: auto;
}

.esv-text ul.surrounding-chapters li {
    display: inline;
    list-style-type: none;
}

/* style for positioning chapter numbers */
.esv-text span.chapter-num {
    color:#fff;
    font-family:serif;
    float:left;
    font-size:3em;
    margin:15px -0.1em 0 0;
    position:relative;
    text-indent:0;

}
.esv-text p.line span.chapter-num {
    font-size: 2.3em;
    left:0px;
    text-indent: 0;
    width:55px;
    margin-top: -4px;
    position: absolute;
    text-align: center;
    top: auto;
}
/* verse-num-woc is deprecated, hook is now class="verse-num woc" */

/* style for positioning verse numbers */
.esv-text span.verse-num {
    color:#fff;
	font-family:Arial, Helvetica, sans-serif;
    font-size:.7em;
	padding-right: .15em;
    font-weight:bold;
    vertical-align:top;
    }
/* verse numbers display at far left if  */
.esv-text p.line span.verse-num {
    padding-left:0;
}

/* verse numbers in poetry should be on the left */
.esv-text p.line .verse-num {
    position:absolute;
    left:20px;
    text-indent: 0;
}

.esv-text p.virtual{
    display:inline;
    text-indent: 0;
}
.esv-text p.line p.virtual {
    display:block;
    margin-left:0;
    padding-left:2.5em;
    text-indent:0;
}


.esv-text ul.surrounding-chapters li:before { content: "| "; }
.esv-text ul.surrounding-chapters li:first-child:before { content: "Ã‚Â« "; }

.esv-text ul.surrounding-chapters li:last-child:after { content: " Ã‚Â»"; }

.esv-text ul.surrounding-days {
    padding-left: 0;
}
.esv-text ul.surrounding-days li {
    display: inline;
    list-style-type: none;
}

.esv-text ul.surrounding-days:before { content: "Ã‚Â« "; }
.esv-text ul.surrounding-days li:last-child:after { content: " Ã‚Â»"; }
.esv-text ul.surrounding-days li:last-child:before { content: "| "; }

.esv-text small.audio{
	color:#284f57;
}
.esv-text small.audio:hover{
	color:#849eA2;
}
.esv-text span.chapter_audio {
    display: none;
}
.esv-text h2.small{
	margin:-29px 0 0 0;
	background-color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	border:none;
	color:#9CB9D3;
	font-size:10.5px;
	font-weight:bold;
	padding:7px;
	text-transform:uppercase;
	float:left;
	display:inline;
}
.esv-text div.footnotes, .esv-text ul{
	padding:10px 0 10px 25px;
	-moz-border-radius: 3px 3px 3px 3px;
	border:1px solid #c7c5c5;
	margin:20px 0 20px 0;
}

.esv-text .footnotes h3{
	color:#9CB9D3;
	font-family:Georgia,"Times New Roman",Times,serif;
	font-size:0.9em;
	font-style:italic;
	font-weight:300;
	text-align:left;

}